$component-backgroundColor: #64645c33;
$light-black: #000000d0;
$mechanic-dark-blue: #102f3e;
$mechanic-light-gray: #cdcfd9;
$mechanic-medium-gray: #747173;
$mechanic-brown: #645c60;
$mechanic-rust: #747173;
$mechanic-strong-rust: #985717;
$mechanic-green: #64645c;
$screen: rgba(255, 255, 255, 1);
$screen-text: #102f3edc;
$robot-signal: #ffee0080;
$robot-shadow: #3f3f3f;
$white-smoke: #f5f5f5;
$white: #fff;
$black: #000;
